{
  "semi": false,
  "singleQuote": true,
  "@stylistic/comma-dangle": ["error", "always-multiline"],
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "@stylistic/arrow-parens": ["error", "always"],
  "endOfLine": "auto"
}
